<a href="https://colab.research.google.com/github/afzalasar7/Data-Science/blob/main/Data_Science_Course_week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Create one variable containing following type of date:
(i) name = "Afzal"
(ii) list = [1,2,3,'name']
(iii) tuple = (1,2,3)
(iv) float = 3.14

## 2. Given are some folowing variables contalning data:
(i) varl =''
(ii) var2 =‘[ DS, ML, Python]’
(iii) var3 = [ ‘DS’, 'ML’ , ‘Python’ ]
(iv) var4 =1.



What wil be the datatype of the cove given variable.
(i) string
(ii) string
(iii) list
(iv) integer


## 3. Explain the use ofthe following operators using an example
(i) / - Divide operator: 10/2 = 5
(ii) % - modulo operator: 11%2 = 1
(iii) // - Floor opeerator: 10//3 = 3
(iv) ** Exponent operator: 2**3 = 8

## 4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [ ]:

list1 = [1,2,3,(1,3,5), "name", "afzal", 'asar', {"fruit":['apple', 'cherry', 'tomato']}, {1,5,8}, [1,2,3,4]]
for i in list1:
  print(i)

1
2
3
(1, 3, 5)
name
afzal
asar
{'fruit': ['apple', 'cherry', 'tomato']}
{8, 1, 5}
[1, 2, 3, 4]

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [ ]:

A = 10
B = 2
count = 0
if A%B == 0:
  while count == 0:
    count = A/B
  print(f"{A} is purely divisible by number {B} and {A} is {count} times divisible by {B}.")
else:
  print(f"{A} is purely divisible by number {B}")

10 is purely divisible by number 2 and 10 is 5.0 times divisible by 2.

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element isdivisible by 3 or not.

In [ ]:
list1= []
for i in range(1, 26):
  list1.append(i)

for num in list1:
  if num % 3 == 0:
    print(f"{num} is divisible by 3")
  else: print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property

In [3]:
# Mutable object can be changed after it is created. These are of type list, dict, set . Custom classes are generally mutable.
color = ["red", "blue", "green"]
print(color)
  
color[0] = "pink"
color[-1] = "orange"
print(color)

['red', 'blue', 'green']
['pink', 'blue', 'orange']

In [4]:

 #Immutable Objects : These are of in-built types like int, float, bool, string, unicode, tuple. In simple words, an immutable object can’t be changed after it is created.
tuple1 = (0, 1, 2, 3) 
tuple1[0] = 4
print(tuple1)

TypeError: ignored